div.black
    div.row.text-center
        div.col-xs-4
            h3.greenText About Us
        div.col-xs-4
            h3.greenText Get in Touch
        div.col-xs-4
            h3.greenText Social Media       
    div.row.text-center
        div.col-xs-4
            p.whiteText#about ipaint4u specializes in residential painting and more. Installing insulation, and small home repairs such as interior and exterior painting.
        div.col-xs-4
            div.about2
                p.whiteText.blockDisplay.blockPadding ipaint4ullc@gmail.com
                img(src="images/email.png" alt="email button")
            div.marginBottom.iconAlign
                p.whiteText.blockDisplay.blockPadding
                    C  843-505-1717 #[br]
                    O  843-505-1716
                img.phone(src="images/phone.png" alt="phone button")
            div.marginBottom.iconAlign
                p.whiteText.blockDisplay.blockPadding Hardeeville, SC
                img(src="images/house.png" alt="address button")
        div.col-xs-4.about2
            a(href="#" target="_blank")
                img.iconMargin(src="images/googleplus.png " alt="connect with g+")
            a(href="https://www.facebook.com/ipaint4ullc/" target="_blank")
                img.iconMargin(src="images/facebook.png" alt="connect with facebook")
            a(href="#" target="_blank")
                img(src="images/instagram.png" alt="connect with instagram")