div.black.small
div.grey.tall
    a(name="contact")
        h4.whiteText#contact Contact Us
div.black
    div.row
        div.col-xs-9
            form#topMargin(action="" method="post")
                div.contactMargin
                    input#input-name(type="text" placeholder="Name" name="name" required)
                    input#input-email(type="email" placeholder="Email" name="email" required)
                div.contactMargin
                    input#input-subject(type="text" placeholder="Subject" name="subject" required)
                div.contactMargin
                    textarea#input-message(name="message" placeholder="Message" required)
                div.contactMargin
                    button.btn.pantoneGreen#btn-submit(type="submit") Send
                div#formSubmission          
        div.col-xs-3.text-right
            img.largeLogo#visual(src="images/logo_feb.png" alt="ipaint4u logo")
            div.marginBottom
                p.whiteText.blockDisplay.blockPadding ipaint4ullc@gmail.com
                img.iconMargin(src="images/email.png" alt="email button")
            div.marginBottom
                p.whiteText.blockDisplay.blockPadding C  843-505-1717 #[br] O  843-505-1716
                img.phone.iconMargin(src="images/phone.png" alt="phone button")
            div.marginBottom
                p.whiteText.blockDisplay.blockPadding Hardeeville, SC
                img.iconMargin(src="images/house.png" alt="address button") 
            div.marginBottom.iconMargin
                img(src="images/tools.png" alt="tool graphic")