footer
    div.row
        div.col-xs-4
            p &copy; 2017 ipaint4u
        div.col-xs-4
            p.text-center Designed by 
                a(href="https://www.facebook.com/Julie-Murphy-251651765263247/" target="_blank") Julie Murphy
        div.col-xs-4
            p.text-right powered by 
                a(href="https://www.smellydogcoding.com") Smelly Dog Coding