div.pantoneGreen
    div.row
        div.col-xs-6.text-center
            a(name="projects")
                h3.whiteText.marginBottom Our PaintLifts
        div.col-xs-6.text-center
            h3.whiteText.marginBottom Our Projects
    div.lightGray
        div.row
            div.col-xs-6.text-center
                img.photoMargin1.border(src="images/beforep_1.png" alt="Before painting house 1")
                img.photoMargin2.border(src="images/afterp_1.png" alt="After painting house 1")
            div.col-xs-6.text-center
                img.photoMargin1(src="images/before_1.png" alt="Before project 1")
                img.photoMargin2(src="images/after_1.png" alt="After project 1")
            div.row
                div.col-xs-6.text-center
                    img.photoMargin3(src="images/beforep_2.png" alt="Before painting house 2")
                    img.photoMargin4(src="images/afterp_2.png" alt="After painting house 2")
                div.col-xs-6.text-center
                    img.photoMargin3(src="images/before_2.png" alt="Before project 2")
                    img.photoMargin4(src="images/after_2.png" alt="After project 2")
        div.text-center
            p.noBottom See more of our work 
                a(href="/portfolio") here.