header.black
        nav.text-center
            ul
                li 
                  a(href="#home") Home
                li
                    a(href="#projects") Projects
                li
                    a(href="#testamonials") Testimonials
                li
                    a(href="#contact") Contact Us
        div.row
            div.col-xs-3
            div.col-xs-6.text-center
                img.largeLogo(src="images/logo_feb.png" alt="ipaint4u logo")
            div.col-xs-3.text-center
                a(href="#contact")
                    img#estimate2(src="images/schedule.png" alt="schedule an estimate")
        div.pantoneGreen.tall            