header.black
        nav.text-center
            ul
                li 
                  a(href="#home)Home
                li
                    a(href="#projects")Projects
                li
                    a(href="#testamonials")Testimonials
                li
                    a(href="#contact")Contact Us
        div.row
            div.col-xs-3
            div.col-xs-6.text-center
                img (src="images/logo_feb.png" alt="ipaint4u logo" class="largeLogo")
            div.col-xs-3.text-center
                a(href="#contact")
                    img(src="images/schedule.png" alt="schedule an estimate" id="estimate")
        div.pantoneGreen.tall            