script(src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.4/galleria.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.4/themes/classic/galleria.classic.js")
script(src="js/portfolio.js")