script(src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.5/galleria.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.5/themes/classic/galleria.classic.min.js")
script(src="js/portfolio.js")