div.row.text-center #negativeMargin
    div.col-xs-3
        a.blackText(href="#projects")
            img(src="images/projects_filled.png" alt="Recent projects completed by our crew")
                h3 Projects
                p Recent projects completed by our crew.
        
    div.col-xs-3
        a.blackText(href="#services")
             img(src="images/services_filled.png" alt="Services")
                h3 Services
                p Things we do well.
                
    div.col-xs-3
        a.blackText(href="#blog")
             img(src="images/blog_filled.png" alt="blog")
             h3 Blog
             p Ask a handyman and more!
    div.col-xs-3
        a.blackText(href="#testamonials")
             img src="images/testimonial_filled.png" alt="testimonials"
             h3 Testimonials
             p.marginBottom
             ipaint4u prides itself in delighting its clients. Click to see what our clients have said about their experiences with ipaint4u.  