div#sherDiv
        img.medLogo.blockDisplay(src="images/sherwin-williams-logo.jpg" alt="Sherwin Williams logo")
        p.blockDisplay.smallPara
            Download the <
                a(href="https://www.sherwin-williams.com/homeowners/color/try-on-colors/colorsnap-mobile" target="_blank")ColorSnap® Visualizer
            app for iPhone and Android or try 
                a(href="https://www.sherwin-williams.com/visualizer#/active/default" target="_blank")ColorSnap® Visualizer for Web 
            on your tablet or desktop to upload a photo and paint the walls in a virtual world!