include ./partials/_head.pug
body
    div.container.container-fluid
        include ./partials/_header.pug
        include ./partials/_selections.pug
        include ./partials/_separatorDiv.pug
        include ./partials/_galleryIntro.pug
        include ./partials/_sherwinWilliams.pug
        include ./partials/_aboutUs.pug
        include ./partials/_testimonials.pug
        include ./partials/_contactUs.pug
        include ./partials/_indexScripts.pug
    include ./partials/_footer.pug