include ./partials/_head.pug
body
    div.container.container-fluid
        include ./partials/_header.pug
        include ./partials/_gallery.pug
        include ./partials/_aboutUs.pug
        include ./partials/_indexScripts
        include ./partials/_portfolioScripts.pug
        include ./partials/_footer.pug
        