/****** Global Styles *****/

body {
    font-family: 'Quicksand', sans-serif;
}

h3 {
    font-weight: bold;
}

li {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 2.0rem;
    margin-top:20px;
    margin-right: 10px;
}


/****** Colors ******/

.black {
    background-color: #000000;
}

.pantoneGreen {
    background-color: rgb(146, 180, 87);
}

.lightGray {
    background-color: lightgrey;
}

.grey {
    background-color: gray;
}

.whiteText {
    color: white;
}

.greenText {
    color: rgb(146, 180, 87); 
}

/****** Colored Div Sizes ******/

.tall {
    height: 50px;
}

.medium {
    height: 30px;
}

.small {
    height: 20px;
}


/****** Width Controls ******/

.smallLogo{
    width:15%;
}

.medLogo {
    width:18%;
}

.largeLogo {
    width:90%;
}

.smallPara {
    width: 80%;
}

/****** Header ******/

#estimate {
    margin-top: 85px;
}

.enlarge {
    width: 95%;
}


/****** Photo Squares Div ******/

.photoMargin1 {
    margin: 20px 10px 10px 20px;
}

.photoMargin2 {
    margin: 20px 20px 10px 20px;
}

.photoMargin3 {
    margin: 20px 10px 30px 20px;
}

.photoMargin4 {
    margin: 20px 20px 30px 20px;
}

/**.border {
    border: 5px solid #000000;
}**/

/******Testamonial Div *******/

#testDiv {
    margin: 30px;
    font-style: italic;
}

.noBottom {
    margin-bottom: 0;
    padding: 20px;
}


/****** Contact Form Area ******/
#contact {
    margin:0;
    padding: 15px 0px 10px 30px;
    font-weight: bold;
}

textarea {
    height: 126px;
    width: 80%;
}
input, textarea {   
    border-radius: 8px;
}

#input-name, #input-email  {
    width: 39%;
}

#input-subject, #btn-submit  {
    width: 80%;
}

.contactMargin {
    margin-bottom: 10px;
    margin-left: 30px;
}

.iconMargin {
    margin-right: 25px;
}

#topMargin {
    margin-top: 30px;
}

#input-email{
    margin-left: 2%;
}

#btn-submit {
    font-weight: bold;
    height: 50px;
}

/****** Misc ******/

#negativeMargin {
    margin-top: -20px;
}


.blockDisplay {
    display: inline-block;
    margin: 0 auto;
    
}

.marginBottom {
    margin-bottom: 20px;
}


.blackText {
    color: #000000;
}

#sherDiv {
    margin: 20px 10px 20px 20px;
}

#about {
    padding: 20px 50px;
}

.about2 {
  padding: 20px 50px;  
}

.blockPadding {
    margin-right: 15px;
}

.phone {
    margin-top: -25px;
}

.iconAlign {
    margin-left: 50px;
}

#formSubmission {
    width: 77%;
    border: 3px solid rgb(146, 180, 87);
    margin-left: 1.8em;
    margin-bottom: 1.0em;
    padding: 0.5em;
    text-align: center;
    font-weight: 600;
    color: #0072b3;
    border-radius: 5px;
    font-size: 1.25em;
}


